/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, span{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.mv-container{
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar-container{
    border-bottom: 1px solid #ddd;
}

.mv-event-container{
    overflow: auto;
    position:initial;
    top: 0;
}

.mv-dayname{
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin-bottom: 32px !important;
    text-transform: capitalize;
}

.st-dtitle{
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 4px;
}

.st-dtitle-fr{
    position: relative;
    top: 32px;
}

.st-dtitle span{
    font-weight: 600;
    color: #000;
}

#timezone, #subscribe-link, h1, .period-range, #nav .tab-link, #nav-today, .nav-buttons{
    display: none;
}

.view-container-border{
    padding: 0px;
}

.rb-n{
    border-radius: 0px !important;
    border: none !important;
}

.st-c-pos{
    padding: 0 !important;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;;
    margin-top: 32px;
}

.rb-ni{
    padding: 2px;
}

.footer, .t1-embed, .t2-embed{
    display: none;
}

/* teste */

@media (max-width: 70em) {

    .month-table{
        background-color: #000;
    }

}

